//---------------------------Start Style Footer CTA---------------------------
footer {
  .navbar-brand {
    font-size: 18px;
    color: $white;
    &:hover {
      color: $light;
    }
  }

  h3 {
    font-size: 18px;
    font-weight: map-get($font-weight, bold-700);
    color: $white;
  }
  li {
    list-style: none;
    color: $white;
  }
  a {
    text-decoration: none;
    color: $light;
    &:hover {
      color: $white;
    }
  }
  i {
    font-size: 24px;
  }
}
//---------------------------End Style Footer ---------------------------
