@import "colors";
@import "fonts";
@import "navbar";
@import "footer";

body {
  background-color: $light;
  span {
    color: $primary;
  }
  .container-hero {
    h1 {
      font-weight: map-get($font-weight, bold-700);
    }
  }

  .container-fluid {
    background-color: $secondary;
    margin: 100px 0px;

    h2 {
      font-weight: map-get($font-weight, bold-700);
    }
  }

  .about {
    img {
      width: 10em;
    }
  }

  //---------------------------Start Style Product---------------------------
  .card {
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    i {
      font-size: 24px;
      color: $black-text;
      &:hover {
        color: $primary;
      }
    }
  }

  //---------------------------End Style Product---------------------------
}
