@import "colors";
@import "fonts";
body {
  background-color: $light;
}
.btn {
  font-size: 18px;
  font-weight: map-get($font-weight, "semibold-600");
}
span {
  color: $primary;
}

.navbar {
  .navbar-brand {
    font-size: 20px;
    font-weight: map-get($font-weight, "bold-700");
  }
  btn {
    font-size: 16px;
    font-weight: map-get($font-weight, "semibold-600");
  }
  ul {
    li {
      a {
        font-weight: map-get($font-weight, "semibold-600");
        &:hover {
          color: $primary;
        }
      }
    }
  }
}

//---------------------------Start Style Hero---------------------------

.container-hero {
  h1 {
    color: $black-text;
    font-size: 40px;
    font-weight: map-get($font-weight, "bold-700");
  }
  p {
    font-weight: map-get($font-weight, "medium-500");
    color: $black-text;
  }
}
//---------------------------End Style Hero---------------------------

//---------------------------Style velue 1---------------------------
.value-1 {
  background-color: $secondary;
  h1 {
    font-size: 34px;
    font-weight: map-get($font-weight, "bold-700");
  }
}

.container-card {
  background-color: $white;
  .bg-icon {
    background-color: $yellow;
  }
  &:hover {
    background-color: $primary;
    .bg-icon {
      background-color: white;
    }
    h4,
    p {
      color: white;
    }
  }
}
//---------------------------End Style velue 1---------------------------

//--------------------------- Value Proprotition 2//---------------------------
.value-2 {
  h1 {
    font-size: 34px;
    font-weight: map-get($font-weight, "bold-700");
  }
  .card-value-2 {
    background-color: $white;
    box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    .heading-card {
      font-size: 18px;
      font-weight: map-get($font-weight, "bold-700");
    }

    .bg-icon {
      background-color: $primary;
    }
    &:hover {
      background-color: $primary;
      .bg-icon {
        background-color: $white;
      }
      h4,
      p {
        color: $white;
      }
    }
  }
}
//---------------------------Start Style Product---------------------------
.container-product {
  margin-top: 1000px;
  h1 {
    font-size: 34px;
    font-weight: map-get($font-weight, "bold-700");
  }
  .card {
    border: none;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px 16px;
    border-radius: 8px;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
    .img-box {
      max-width: 435px;
      max-height: 290px;
      border-radius: 10px;
      overflow: hidden;
      position: relative;

      .bg-img {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 52.17%, #000000 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .info {
          position: absolute;
          bottom: 20px;
        }

        .member {
          font-weight: map-get($font-weight, medium-500);
          color: $white;
        }
        i {
          font-weight: 30px;
          color: $yellow;
        }
      }
    }
    .product-caption {
      .product-name {
        font-size: 18px;
        font-weight: map-get($font-weight, medium-500);
      }
      .info-video {
        font-size: 18px;
        font-weight: map-get($font-weight, bold-700);
        color: $secondary;
      }
    }
    .badge {
      color: $black-text;
      background-color: $secondary;
    }
  }
}
//---------------------------End Style Product---------------------------
